<h1>A Stripe Payments App</h1>
	<div class= 'link_label'>Login Here</div>
	<div class= 'link_label'>Signup here</div>
	<div class= 'link_label'><%= link_to_rpx "Sign in", user_session_url %></div>
	<div class= 'link_label'>Make a Payment without signing in</div>
	