<h1>Listing payments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
		<th>Date</th>
  </tr>

	<% @payments.each do |payment| %>
	  <tr>
			<td><%= payment.name %></td>
	    <td class="amount"><span class="currency">$</span><%= number_with_precision(payment.amount, :precision => 2, :delimiter => ',') %></td>
			<td class="date"><%= payment.created_at.strftime("%b %d, %Y at %I:%M") %></td>
	  </tr>
	<% end %>
</table>
