/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@font-face {
    font-family: 'WindsongRegular';
    src: font-url('windsong/Windsong-webfont.eot');
    src: font-url('windsong/Windsong-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('windsong/Windsong-webfont.woff') format('woff'),
         font-url('windsong/Windsong-webfont.ttf') format('truetype'),
         font-url('windsong/Windsong-webfont.svg#WindsongRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { height: 100%; }
html body { background: #333 image-url('texture.png'); height: 100%; }
html.admin, html.admin body { height: auto; }

#floater { height:50%; margin-bottom:-162px; position:relative; }

#container {
	clear: both;
	height: 324px;
	position: relative;
	background: #eeeeee image-url('card_texture.png');
	width: 486px;
	margin: 0 auto;
	border: 1px solid #333;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0px 0px 5px 4px #222;
	-webkit-box-shadow: 0px 0px 5px 4px #222;
	box-shadow: 0px 0px 5px 4px #222;
	
	&.admin {
		clear: none;
		position: static;
		height: auto;
		margin: 40px auto;
	}
	
	h1 {
		font-weight: bold;
		font-size: 20px;
		line-height: 34px;
		background: #444;
		color: #eee;
		margin-top: 12px;
		padding: 0 16px;
		text-shadow: 0px 1px 1px #222;
		border-top: 1px solid #222;
		border-bottom: 1px solid #fff;
	}
	
	.content-pad {
		padding: 10px 16px;
	}
	
	#new_payment {
		
		fieldset {
			border-bottom: 1px solid #bbb;
			padding-bottom: 10px;
		}
		
		.field {
			margin-bottom: 10px;
		}
		
		.field input {
			font-size: 18px;
			color: #444;
			padding: 6px;
			background: transparent;
			border: 1px solid #bbb;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			outline: 0;
		}
		
		label {
			text-transform: uppercase;
			font-weight: bold;
			position: relative;
			top: -1px;
			width: 136px;
			display: inline-block;
			text-shadow: 0px 1px 1px #fff;
		}
		
		label.inline {
			width: auto;
		}
		
		.field.select label {
			position: relative;
			top: 1px 
		}
		
		label .currency_symbol {
			position: relative;
			left: 84px;
			top: 1px;
			font-size: 18px;
		}
		
		input#payment_name {
			width: 298px;
		}
		
		input#payment_amount {
			width: 286px;
			padding-left: 18px;
		}
		
		.actions {
			border-top: 1px solid #fff;
			padding-top: 10px;
			padding-bottom: 6px;
			text-align: right;
			
			.error {
				float: left;
				width: 308px;
				text-align: left;
				color: #a22;
				background: #f4dede;
				border: 1px solid #c44;
				padding: 6px 10px 5px 10px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				font-size: 12px;
			}
			
			.button-outer-wrap {
				background-image: image-url(image_path('button_right.png'));
				background-repeat: no-repeat;
				background-position: right top;
				height: 35px;
				border: 0;
				display: inline-block;
				padding-right: 3px;
			}
			
			.button-inner-wrap {
				background-image: image-url(image_path('button_left.png'));
				background-repeat: no-repeat;
				background-position: left top;
				display: inline-block;
			}
			
			input {
	   			background: image-url('card-icon.png') 7px 6px no-repeat;
	   			border: 0;
	   			color: #fff;
	   			font-size: 13px;
	   			text-shadow: -1px -1px 2px #069;
	   			height: 34px;
	   			cursor: pointer;
	   			text-align: left;
	   			padding-left: 34px;
	   		}
		}
	}
	
	#thankyou {
		padding-top: 32px;
		text-align: center;
		font-family: "WindsongRegular";
		font-style: italic;
		font-size: 72px;
		line-height: 64px;
	}
}

@-moz-document url-prefix() {
	#card_number {
		width: 189px;
	}
}
